.center{
    text-align: center;
}
body{
    background-color: rgb(175, 175, 142);
}
a{

    text-decoration: none !important;
}
.menu{
    display: inline-block;
}
.row{
    margin:0;
}
ul { 
    text-align: center;
    position: relative;
    list-style-type: none;
    margin: auto;
    padding: 0;
      
}

li {
   
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
    
  
}

